
 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
    background-image: url("../images/bac2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




main {
    display: flex;
    justify-content: center;
    align-items: center;
}




#plateau {
    display: flex;
    flex-direction: row; 
    gap: 10px;
}




.carreau {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px; 
    height: 250px; 
    background-color: rgba(224, 224, 224, 0.8); 
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}




.equipe_bleu_fa, .equipe_rouge_fa {
    display: flex;
    flex-direction: column; 
    align-items: center;
    gap: 5px;
}




.equipe_bleu_fa img, .equipe_rouge_fa img {
    width: 50px;
    height: 50px;
}




.equipe_bleu_fa {
    order: 1;
}




.equipe_rouge_fa {
    order: 2;
}




li {
    list-style-type: none;
}


#menu_gagnant {
 
    position: center;
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 300px;
    background-image: url("../images/menu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}




#dialog_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}




#dialog_container header {
    width: 100%;
    text-align: center;
    background-color: #f4f4f4;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}







#winner_dialog_body {
    margin: 20px 0;
    text-align: center;
}




#winner_dialog_body h1 {
    margin: 0;
    font-size: 20px;
    color: #ffffff;
}




#dialog_container footer {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    border-top: 1px solid #ddd;
    background-color: #f4f4f4;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}







dialog {
    border: none;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    max-width: 90%; 
}



#dialog_container_bleu,
#dialog_container_rouge,
#dialog_container_gagnant {
    text-align: center;
}



header {
    
    color: white; 
    padding: 10px;
    border-radius: 8px 8px 0 0; 
}



#dialogue_body_bleu,
#dialogue_body_rouge,
#winner_dialog_body {
    padding: 20px;
}



form {
    display: grid;
    gap: 10px;
}



.input_container {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    gap: 10px;
}


.input_container img {
    vertical-align: middle; 
}



button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color:#3c78be;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    justify-content: center;
   
}


button:hover {
    background-color: #0056b3; 
    
}



#dialog_container_rouge button ,
#dialog_container_bleu button {
    margin-top: 20px; 
    justify-content: center;
}

#menu_entrainement_rouge ,
#menu_entrainement_bleu{
    
    width: 700px; 
    max-width: 90%; 
    background-image: url("../images/menu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
 button{
    justify-content: center;
    width: 100%;

}




#continue_btn {
    background-color: #0056b3; 
    color: white; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px; 
    transition: background-color 0.3s ease;
    justify-content: center;
}



dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); 
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.5); 
}

.card-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-between; 
}

.card {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-right: 20px; 
    width: 200px; 
    background-image: url("../images/menu.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.card:last-child {
    margin-right: 0; 
}

.card label {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

.card img {
    width: 100px;
    height: 100px;
    margin-bottom: 5px;
}

.card span {
    font-size: 16px;
}

.card input {
    width: 50px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}
